


<nav class="layout-navbar container-xxl navbar navbar-expand-lg navbar-detached align-items-center bg-navbar-theme">
    
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Navbar</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-ex-4">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-ex-4">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link active" asp-area="Player" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-item nav-link" asp-area="Player" asp-controller="Game" asp-action="Index" >Games</a>
                <a class="nav-item nav-link" href="javascript:void(0)">Tournament</a>
                <a class="nav-item nav-link" href="javascript:void(0)">Gallary</a>
                <a class="nav-item nav-link" href="javascript:void(0)">Streaming</a>
                <a class="nav-item nav-link" href="javascript:void(0)">Shop</a>
            </div>


            <ul class="navbar-nav flex-row align-items-center ms-auto">

                <form class="d-flex">
                    <div class="input-group  mx-3">
                        <span class="input-group-text">
                            <i class="tf-icons bx bx-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                </form>
                <li class="nav-item lh-1 me-3">
                    <a
                        class="github-button"
                        href="https://github.com/hrshuv0/eSports"
                        data-icon="octicon-star"
                        data-size="large"
                        data-show-count="true"
                        aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">
                        Star
                    </a
                    >
                </li>
                <partial name="_LoginPartialPlayer"></partial>
            </ul>
        </div>
    </div>
</nav>