@model TournamentCategory

@{
    ViewData["Title"] = "Category";
}

<div class="container mt-5 col-lg-8">
    <div style="background-color: #d9d9d9">
        <form method="post">

            <div >
                <div class="ms-3 pt-2">
                    <h2>Add Tournament Category</h2>
                    <p>Add new category content using the form below</p>
                </div>

                <div class="mx-3 p-3" style="background-color: #f1f1f1">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" asp-for="Name"></label>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="ms-3 pt-3 pb-3 row">
                    <button type="submit" class="btn btn-success" style="width: 48%">Create</button>
                    <a class="btn btn-secondary ms-2" style="width: 48%" asp-action="Index">Back to list</a>
                </div>


            </div>

        </form>
    </div>

</div>