@model dynamic

@{
    ViewBag.Title = "Players";
    Layout = "_Layout";
}


<div>
    <div class="container">
        <table class="table cell-border hover table-light" id="playerTableId" style="width: 100%">
            <thead>
            <tr class="text-center">
                <th>uName</th>
                <th>IGN</th>
                <th>Email</th>
                <th>City</th>
                <th>Phone</th>
            </tr>
            </thead>
        </table>

    </div>
</div>




@section Scripts
{
    <script src="~/js/player.js"></script>
}
