@model dynamic

@{
    ViewBag.Title = "Players";
    Layout = "_Layout";
}


<div>
    <div class="container">
        <table class="table cell-border hover table-light" id="playerTableId" style="width: 100%">
            <thead>
            <tr>
                <th>uName</th>
            </tr>
            </thead>
        </table>

    </div>
</div>