@model Prize

@{
    ViewData["Title"] = "Prize";
}

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Details Prize - @Model.PrizeName</h2>
            <hr/>
        </div>
        @* <div asp-validation-summary="All"></div> *@
        <div class="mx-3 p-3" disabled style="background-color: #1f2128">
            <div class="row form-group">
                <label class="col-2 col-form-label" asp-for="PrizeName"></label>
                <div class="col-10">
                    <input disabled asp-for="PrizeName" class="form-control"/>
                    <span asp-validation-for="PrizeName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PlaceName"></label>
                        <div class="col-8">
                            <input disabled asp-for="PlaceName" class="form-control"/>
                            <span asp-validation-for="PlaceName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PrizeAmount"></label>
                        <div class="col-8">
                            <input disabled asp-for="PrizeAmount" class="form-control"/>
                            <span asp-validation-for="PrizeAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row  mt-2">
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PlaceName2"></label>
                        <div class="col-8">
                            <input disabled asp-for="PlaceName2" class="form-control"/>
                            <span asp-validation-for="PlaceName2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PrizeAmount2"></label>
                        <div class="col-8">
                            <input disabled asp-for="PrizeAmount2" class="form-control"/>
                            <span asp-validation-for="PrizeAmount2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row  mt-2">
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PlaceName3"></label>
                        <div class="col-8">
                            <input disabled asp-for="PlaceName3" class="form-control"/>
                            <span asp-validation-for="PlaceName3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PrizeAmount3"></label>
                        <div class="col-8">
                            <input disabled asp-for="PrizeAmount3" class="form-control"/>
                            <span asp-validation-for="PrizeAmount3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row  mt-2">
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label">Place Name</label>
                        <div class="col-8">
                            <input disabled value="4th to 10th" class="form-control"/>
                            <span asp-validation-for="PlaceName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label class="col-4 col-form-label" asp-for="PrizeAmount4To10"></label>
                        <div class="col-8">
                            <input disabled asp-for="PrizeAmount4To10" class="form-control"/>
                            <span asp-validation-for="PrizeAmount4To10" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a asp-controller="Prizes" asp-action="Edit" class="btn btn-primary mt-2 ms-3" asp-route-id="@Model.Id" style="width: 150px">Edit</a>
        <a asp-controller="Prizes" asp-action="Index" class="btn btn-secondary mt-2" style="width: 150px">Back to list</a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}